@charset "utf-8";

/* Style for the navigation bar */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  /* Style for the navigation bar links */
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for the navigation bar links */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Popup text for the navigation bar links */
  .navbar a .tooltip {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Popup text for the navigation bar links (visible) */
  .navbar a:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  /* Style for the welcome message */
  .container {
    background-color: rgb(250, 218, 221); 
    margin: 0 auto;
    min-height: 100vh;
    max-width: 800px;
    padding: 20px;
  }

  body {
    background-image: url('backgroundflower.webp');
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: auto;
    padding: 0;
 }

  #welcome {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #f00;
    text-shadow: 2px 2px #000;
  }

  #patrickdance {
    mix-blend-mode: multiply;
  }
  
  /* Style for the general info section */
  #info {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  /* Style for the bio section */
  #bio {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  /* Style for the feedback section */
  #feedback {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  /* Style for the schedule section */
  #schedule {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }

  #image-container {
    mix-blend-mode: multiply;
  }

  div#maplocation {
    visibility: hidden;
  }

  #map-link {
    text-align: center;
  }

  /* Footer Style */
 
  
  